<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row py-4 border-bottom border-light">
      <div class="col-lg-3">
        <!-- Name -->
        <h3><a class="text-light pb-2" href="/">Harshitha</a></h3>
        <p class="text-light">Built @ <a class="text-white" href=" https://www.thruskills.com">Thruskills</a></p>
      </div>

      <!-- Links -->

      <div class="col-lg-3  col-6">
        <h3 class="text-light pb2">Links</h3>
        <ul class="list-group list-unstyled quick-links">
          <li><a class="text-light" href="/portfolio"><i class="fa fa-angle-double-right"></i>Portfolio</a></li>
          <li><a class="text-light" href="/projects"><i class="fa fa-angle-double-right"></i>Projects</a></li>
          <li><a class="text-light" href="/blog"><i class="fa fa-angle-double-right"></i>Blog</a></li>
          <li><a class="text-light" href="/contact"><i class="fa fa-angle-double-right"></i>Contact</a></li>
        </ul>
      </div>

      <!-- Social media -->

      <div class="col-lg-3 col-6 ">

        <p class=" text-white text-bold font-weight-bold " style="font-size: x-large;">Follow Us</a></p>
        <div class="icons">
          <ul class="list-unstyled list-inline social text-center ">
            <li class="list-inline-item pb-4"><a href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3">
        <p class=" text-white text-bold font-weight-bold " style="font-size: x-large;">Contact</a></p>
        <p class=" text-white">91+7353700921, 91+9353054129</p>
      </div>
    </div>

    <!-- Copy right -->

    <div class="text-center text-light py-3">
      <span>&copy;Harshitha batch(nov-feb 2020)
      </span>
    </div>
  </div>
</section>