{{!-- <h1>{{title}}</h1>
<p>Welcome {{user.name}}!</p> --}}


<div class="container">
    <div class="card dash">
        <div class="card-body">
            <h1>{{title}}</h1>
            <p>Welcome {{user.name}}!</p>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-3 text-light alert">
            <h2>Projects</h2>
            <h3>10</h3>
            <a href="/projects">View All</a>
        </div>
        <div class="col-md-3 text-light alert">
            <h2>Blog posts</h2>
            <h3>10</h3>
            <a href="/blog">View All</a>
        </div>
        <div class="col-md-3 text-light alert">
            <h2>Contacts</h2>
            <h3>10</h3>
            <a href="/contact">View All</a>
        </div>
        <div class="col-md-3 text-light alert">
            <h2>Subscribers</h2>
            <h3>07</h3>
            <a href="/subscribe">View All</a>
        </div>

    </div>

</div>
