<!-- About Page -->
<!-- content -->
    <main role="main">
        <div class="py-3 bg-light">
            <div class="container"> 
                <div class="row">
                    <div class="col-md-3 project-detail-sb">
    
                        <div class="project-sidebar-block no-top-margin">
                            <img class="img-fluid" src="/images/img-08.jpg">
                        </div>
                        <hr>
    
                        <div class="project-sidebar-block">
                            <h3>Social Profiles</h3>
                            <ul class="social"> 
                                <li>
                                    <a href="https://www.linkedin.com/in/harshitha-r-kumar-88475315b" title="LinkedIn">
                                        <i class="fab fa-linkedin fa-2x"></i>
                                    </a> 
                                </li>
                                <li>
                                    <a href="https://github.com/Harshitha7257" title="Github">
                                        <i class="fab fa-github-square fa-2x pl-2"></i>
                                    </a> 
                                </li>
                                <li>
                                    <a href="https://twitter.com/@manoharsn" title="Twitter">
                                        <i class="fab fa-twitter-square fa-2x pl-3"></i>
                                    </a> 
                                </li>
                                <li> 
                                    <a href="https://m.facebook.com/?_rdr" title="Facebook">
                                        <i class="fab fa-facebook fa-2x pl-3"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <div class="project-sidebar-block">
                            <h3>About This Project</h3>
                            <ul class="social">
                                <li>
                                    <a href="#" title="Node.js">
                                        <i class="fab fa-node-js fa-2x"></i>
                                    </a> 
                                </li>
                                <li>
                                    <a href="#" title="JavaScript">
                                        <i class="fab fa-js-square fa-2x pl-3"></i>
                                    </a> 
                                </li>
                                <li> 
                                    <a href="#" title="HTML5">
                                        <i class="fab fa-html5 fa-2x pl-3"></i>
                                    </a>
                                </li> 
                                <li>
                                    <a href="#" title="CSS3">
                                        <i class="fab fa-css3 fa-2x pl-3"></i>
                                    </a> 
                                </li>
                            </ul>
                        </div>
                        <hr>
                    </div>
    
                    <div class="col-md-9">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb color">
                                <li class="breadcrumb-item bc-item"><a class="text-white" href="/">Home</a></li>
                                <li class="breadcrumb-item text-white" aria-current="page">About</li>
                            </ol>
                        </nav>
                        <div class="project-sidebar-block">
                            <h1 class="display-4">Hi! I'm Harshitha R Kumar.</h1>
                            <br>
                            <p class="lead" style="text-align:justify;">I am a web developer with a knowledge in front end and back end language,responsive frame work,database, and code practices. My objective is simply to be the best web developer that I can be and to contribute to the technology industry all that I know and can do. </p>
                            <br>
                            <hr>
                        </div>
                        
                        <div class="project-sidebar-block">
                            <h2 class="display-4">About This Project</h2>
                            <br>
                            <p class="lead" style="text-align:justify;">In this project I learnt how to build my own portfolio app using all frontend and backend language, framework, database which I learnt from Thruskills. Now I am able build a website which is responsive. This project includes all the aspects of the full stack development. A very small project though but can be really good to start learning MEAN.</p>
                            <br>
                            <p class="lead" style="text-align:justify;">I am using <a href="#">Bootstrap</a>, <a href="#">Node.js</a><a href="#">Express js</a>, &amp; <a href="#">Mongo DB</a> to build this.</p>
                            <br>
                            <hr>
                        </div>
    
                        <div class="project-sidebar-block">
                            <h2 class="display-4">Project Timelines</h2>
                            <br>
                            <p class="lead" style="text-align:justify;">In this section we will discuss how much time it will take to build this project, followed by a steo by step guide.</p>
                            <br>
                            <ul>
                                <li>
                                    <a class="bc-item" href="#" title="Static Portfolio Site">
                                        Step 1: Static Portfolio Site - Using Bootstrap 4
                                    </a> 
                                </li>
                                <li>
                                    <a class="bc-item" href="#" title="Rewrite the static site using Node">
                                        Step 2: Rewrite the static site using Node, Express &amp; Handlebars
                                    </a> 
                                </li>
                                <li>
                                    <a class="bc-item" href="#" title="Add some test data">
                                        Step 3: Add some test data to make it look like a dynamic site
                                    </a> 
                                </li>
                                <li>
                                    <a class="bc-item" href="#" title="Build all the pages">
                                        Step 4: Build all the pages - home, projects, blog, about, contact
                                    </a> 
                                </li>
                                <li>
                                    <a class="bc-item" href="#" title="Design the database - MongoDB">
                                        Step 5: Design the database using NoSQL &amp; MongoDB
                                    </a> 
                                </li>
                                <li>
                                    <a class="bc-item" href="#" title="Connect to MongoDB and get data">
                                        Step 6: Now we will actually display the data that comes from the DB
                                    </a> 
                                </li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>