<!-- Project  -->
<main>
  <div class="container mb-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb color">
        <li class="breadcrumb-item bc-item"><a class="text-white" href="/">Home</a></li>
        <li class="breadcrumb-item bc-item"><a class="text-white" href="/projects">Projects</a></li>
      </ol>
    </nav>
  </div>
</main>



{{!-- box --}}
<div class="container animated fadeInUp">
  {{#each projects}}
  <div class="flex-grid featured-content">
    <div class="grid-item">
      <div class="grid-item-wrapper">
        <a href="/projects/{{_id}}">
          <img class="grid-item-bg-img" src="{{this.image}}">
          <div class="grid-item-content">
            <div class="grid-item-content-details">
              <h4 class="grid-title text-white">{{this.title}}</h4>
              <div class="grid-details text-white">{{this.description}}</div>
              <div class="grid-action">
                <div class="btn btn--clear">Read More</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  {{/each}}
</div>